.chefs-data-container{
    display: flex;
    justify-content: center;
}
.chef-restaurants{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:100px;
    background-color: #F9F4EA;
    margin-left: 300px;
    width: 51.5%;
    height: 60%;
}
.title-of-the-week{
    text-align: left;
    margin: 50px 0 10px 300px;
    line-height: 35px;
    letter-spacing: 1.25px;
    font-size: 24px;
}
.chef-week-restaurant-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    font-size: 18px;
    background-color: #F9F4EA;
}
#description{
    font-family: 'Helvetica Neue Thin';
    width:30%;
    font-size: 24px;
    margin-left: 80px;
    line-height: 35px;
    text-align: justify;
    letter-spacing: 1.25px; 
}
@media (max-width: 390px) {
    .chefs-data-container {
        flex-direction: column; 
    }
    #description {
        width: 90%;
        margin: 20px 0 0 20px;
        margin-left: 22px;
        font-size: 18px;
        line-height: 28px;
    }
    .title-of-the-week {
        margin: 20px 0 0 10px;
    }
    .chef-restaurants {
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 40px 0 0 20px;
        overflow: scroll;
        width: 90%;
    }
}