.chef-container{
    position: relative;
    width: 381px;
    height: 355px;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
}
.chef-img{
    z-index: 1;
}
.chef-name{
    position: absolute;
    top:77%;
    bottom: 0;
    z-index: 2;
    width:100%;
    height:18%;
    font-family: 'Helvetica Neue Medium';
    font-size: 18px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 2.67px;
    background: rgba(255, 255, 255, 0.8);
}

.delete-btn{
    position: absolute;
    color: yellow;
    font-size: 24px;
    /* width: 381px; */
    /* height: 100px; */
    top: 0;
    left: 0;
    text-align: left;
    opacity: 1;
    z-index: 2;
}
.delete-btn:hover{
    color: tomato;
}
.chef-container:hover{
    cursor: pointer;
}
