.aboutUs-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FAFAFA;
    gap: 180px;
    margin: 100px 0 0 0;
    width: 100%;
}
.all-content-aboutUs{
    width: 50%;
    margin: 20px 0 0 300px;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 2.14px;

}
.description-aboutUs{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 65%;
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 30px;
    letter-spacing: 2.14px;
}
.aboutUs-download-btn{
    display: flex;
    flex-direction: row;
    gap:15px;
    justify-content: flex-start;
}
.aboutUs-epicure-logo{
    display: flex;
    justify-content:flex-end;
}