.single-restaurant-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.open-now{
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 21px;
}
.restaurant-page-image{
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 60%;
}
.info-restaurant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.rest-name{
    font-family: 'Helvetica Neue Medium';
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3.67px;
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-size: 24px;
    margin-top: 45px;
}
.dishes-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,280px);
    gap: 30px;
}
.dish-card{
    font-size: 20px;
    background-color: #F9F4EA;
    margin-left: auto;
    margin-right: auto;
}

